<div class="container-fluid" *ngIf="utilisateur">
<div class="card" *ngIf="utilisateur.statut == 'Responsable'">
  <div class="card-header">Liste des événements</div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
      <div class="form-group">
        <label>Nature événement</label>&nbsp;&nbsp;
        <select name="natureEvenement" ngModel>
          <option value=""></option>
          <option *ngFor="let nature of natureEvenements" [value]="nature.natureEvenement">
            {{nature.natureEvenement}}
          </option>
        </select>&nbsp;&nbsp;
        <label>Adhérent </label>&nbsp;
        <input type="text" name="adherentId" [(ngModel)]="chaine"
               (keyup)="search(chaine)">&nbsp;
        <button type="submit" class="btn btn-outline-primary">
          <svg width="1em" height="1em" viewBox="0 0 20 20" class="bi bi-search" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>&nbsp;Chercher
        </button>&nbsp;
        <ol *ngIf="chaine != undefined && chaine != '' && adherentNomAndPrenom != chaine">
          <li *ngFor="let a of searchAdherent"
              class="list-group-item list-group-item-action clickable d-flex"
              (click)="chaine = a.nom + ' ' + a.prenom">
            {{a.nom}} {{a.prenom}}
          </li>
        </ol>&nbsp;
      </div>
    </form>
    <table *ngIf="evenements" class="table">
      <tr>
        <th>Nature de l'événement</th><th>Adhérent</th><th>Commentaire</th><th class="text-center">Action</th>
      </tr>
      <tr *ngFor="let e of evenementsList">
        <td>{{e.natureEvenement.natureEvenement}}</td>
        <td>{{e.nomAdherent}}</td>
        <td>{{e.commentaire}}</td>
        <td>
          <a class="btn btn-outline-info" routerLink="/infosEvenement/{{e.id}}">Plus d'informations</a>
          <a class="btn btn-outline-success btn-titre" routerLink="/updateEvenement/{{e.id}}">Modifier</a>
          <a class="btn btn-outline-danger btn-titre" (click)="onDeleteEvenement(e)">Supprimer</a>
        </td>
      </tr>
    </table>
    <ul *ngIf="pages" class="nav nav-pills">
      <li class="clickable" [ngClass]="i == currentPage?'nav-link active' : 'nav-link'"
          *ngFor="let p of pages; let i = index">
        <a (click)="onPageEvenement(i)">{{i}}</a>
      </li>
    </ul>
  </div>
</div>
  <div *ngIf="utilisateur.statut != 'Responsable'">
    <h2 class="text-danger">
      Erreur 403 - Accès refusé
    </h2>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br>
  </div>
</div>
