<div class="container-fluid">
  <div class="card">
    <div class="card-header">Modifier la cotisation en date de
      <strong *ngIf="cotisation">{{cotisation.date | date: 'dd/MM/yyyy'}}</strong>
      de <strong *ngIf="adherent">{{adherent.genreId == 1?'Mr':'Mme'}} {{adherent.nom}} {{adherent.prenom}}</strong>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSave(f.value)" *ngIf="cotisation && adherent">
        <input type="hidden" class="form-control" name="id" [(ngModel)]="cotisation.id">
        <div class="form-group">
          <label></label>
          <input type="hidden" class="form-control" name="adherentId" ngModel="{{adherent.id}}">
        </div>
        <div class="form-group">
          <label>Moyen de paiement</label>
          <select class="form-control" name="moyenPaiementId" id="moyenPaiementId" [ngModel]="currentMoyenPaiement">
            <option name="moyenPaiementId" *ngFor="let mp of moyenPaiements">{{mp.moyenPaiement}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Montant</label>
          <input type="number" class="form-control" name="montant" [(ngModel)]="cotisation.montant">
        </div>
        <div class="form-group">
          <label>Période</label>
          <input type="number" class="form-control" name="periode" [(ngModel)]="cotisation.periode">
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control" name="date" [(ngModel)]="cotisation.date">
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Valider</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger" routerLink="/cotisations">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
