<div class="container-fluid">
  <div class="card-header bg-dark text-center text-light rond-lege">
    Informations
  </div>
  <br>
  <div class="row container-fluid">
  <div class="card rond-lege text-justify col-md-5">
    <div class="card-header bg-info text-center text-light rond-lege">
      L' objectif de l'association
    </div>
    <div class="card-body">
      <p>
        L' association El Mouhsinoune à pour objectif de faciliter, aux familles du défunt,
        l'enterrement, le rapatriement dans son pays d'origine et tout ce qui est administratif.
      </p>
    </div>
  </div>
    <div class="col-md-2"></div>
  <div class="card rond-lege text-justify col-md-5">
    <div class="card-header bg-info text-center text-light rond-lege">
      L' adhésion
    </div>
    <div class="card-body">
      <p>
        Pour pouvoir bénéficier de ces services, il suffit d'adhérer à l'association.
        <br>
        Pour adhérer à l'association vous pouvez soit nous contacter par mail (association.elmouhsinoune@gmail.com),
        soit en vous
        <a *ngIf="!jwtService.utilisateur" routerLink="/addAdherent">inscrivant</a>
        <span *ngIf="jwtService.utilisateur">inscrivant</span>
        sur le site directement.
      </p>
    </div>
  </div>
  </div>
  <br>
  <div class="row container-fluid">
    <div class="card rond-lege text-justify col-md-12">
      <div class="card-header bg-info text-center text-light rond-lege">
        Modalités d'adhésion
      </div>
      <div class="row">
        <div class="col-md-6">
      <div class="card-body">
        <h3 class="text-info"><strong>Les cotisations</strong></h3>
        <p>
          L' adhérent doit verser une cotisation pour une période (en mois) et un montant qu'il aura choisi (par exemple
          il souhaite donner 20€ pour 2 mois).
          <br>
          Les montants des cotisations ne sont pas fixés, chacun donne ce qu'il peut.
        </p>
        </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
        <h3 class="text-info"><strong>Les personnes concernées</strong></h3>
        <p>
          Les personnes qui ont le droit aux services sont :
        </p>
        <ul>
          <li>l'adhérent</li>
          <li>ceux qui sont à la charge de l'adhérent dans son foyer (enfant ne travaillant pas).</li>
        </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
