<div class="container-fluid">
<h2>Authentification</h2>
<div class="card">
  <div class="card-header">
    Authentification
  </div>
  <div class="card-body">
<form #f="ngForm" (ngSubmit)="onSignIn(f.value)">
  <div class="container-fluid">
    <div class="form-group">
    <label>Pseudo</label>
    <input class="form-control" type="text" name="pseudo" ngModel>
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input class="form-control" type="password" name="password" ngModel>
    </div>
  </div>
<button class="btn btn-outline-success" *ngIf="!authStatus" type="submit">
  Se connecter
</button>&nbsp;&nbsp;
  <a class="btn btn-outline-danger" routerLink="/">Annuler</a>
  <div class="float-right">
  <span class="text-muted">Vous n'avez pas de compte ?</span>&nbsp;&nbsp;
  <a class="btn btn-outline-primary" routerLink="/addAdherent">S'inscrire</a>
  </div>
</form>
  </div>
</div>
</div>
