<div class="container-fluid">
  <div class="card">
    <div class="card-header">Ajout d'un événement</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSaveEvenement(f.value)">
        <div class="form-group">
          <label>Adhérent </label>
          <input type="text" class="form-control" name="adherentId" [(ngModel)]="chaine"
                 (keyup)="search(chaine)">
          <ol *ngIf="chaine != undefined && chaine != '' && adherentNomAndPrenom != chaine">
            <li *ngFor="let a of searchAdherent"
                class="list-group-item list-group-item-action clickable d-flex"
                (click)="chaine = a.nom + ' ' + a.prenom">
              {{a.nom}} {{a.prenom}}
            </li>
          </ol>&nbsp;
        </div>
        <div class="form-group">
          <label>Nature de l'événement</label>
          <select class="form-control" name="natureEvenementId" ngModel>
            <option value="" disabled>Choisir la nature de l'événement</option>
            <option *ngFor="let ne of natureEvenements" [value]="ne.natureEvenement">
              {{ne.natureEvenement}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Commentaire</label>
          <input type="text" class="form-control" name="commentaire" ngModel>
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Ajouter</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger" routerLink="/evenement">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
