<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Association El Mouhsinoune</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Accueil</a>
    </li>
    <div *ngIf="jwtService.isAuth">
    <li class="nav-item" *ngIf="jwtService.utilisateur">
      <a class="nav-link" routerLink="/monCompte/{{jwtService.utilisateur.id}}">Mon compte</a>
    </li>
    </div>

    <div *ngIf="jwtService.isResponsable()">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
        Adhérents
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/adherents">Liste</a>
        <a class="dropdown-item" routerLink="/addAdherent">Ajouter un adhérent</a>
      </div>
    </li>
    </div>

    <div *ngIf="jwtService.isResponsable()">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
        Cotisations
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/cotisations">Liste</a>
        <a class="dropdown-item" routerLink="/addCotisation">Ajouter une cotisation</a>
      </div>
    </li>
    </div>

    <div *ngIf="jwtService.isResponsable()">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Événements
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/evenement">Liste</a>
        <a class="dropdown-item" routerLink="/addEvenement">Ajouter un événement</a>
      </div>
    </li>
    </div>
  </ul>
    <a *ngIf="!jwtService.isAuth" class="btn btn-titre btn-outline-light ml-auto" routerLink="/auth">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
        <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg>
    </a>
    <a *ngIf="jwtService.isAuth" class="btn btn-titre btn-outline-light float-right ml-auto" (click)="logout()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
    </a>
</nav>
<div class="container-fluid">
  <div class="card-header">
    <h2 class="text-center">
      Bienvenue <span *ngIf="jwtService.utilisateur">{{jwtService.utilisateur.pseudo}}</span>
    </h2>
  </div>
  <br>
</div>
<router-outlet></router-outlet>
<footer class="container-fluid mb-2">
  <small class="text-muted">© 2020 Association El Mouhsinoune</small>
</footer>
