<div class="container-fluid">
  <a class="btn btn-outline-primary"
     routerLink="/">Retour</a>
  <div class="float-right mb-2">
  <a *ngIf="adherent" class="btn btn-outline-info"
     routerLink="/addMembreFamille/{{adherent.id}}">Ajouter un membre de la famille</a>&nbsp;
  <a *ngIf="adherent" class="btn btn-outline-success"
     routerLink="/updateAdherent/{{adherent.id}}">Modifier</a></div>
</div> <br>
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="card" *ngIf="adherent">
    <div class="card-header text-center bg-info">
      <strong>Vos informations</strong>
    </div>
    <div class="card-body bg-white">
      <table class="table table-borderless">
        <tr class="text-center">
          <th>N° Adhérent</th>
          <th>Genre</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Adresse</th>
        </tr>
        <tr class="text-center">
          <td>{{adherent.numAdherent}}</td>
          <td>{{adherent.genreId == 1? 'Homme': 'Femme'}}</td>
          <td>{{adherent.nom | uppercase}}</td>
          <td>{{adherent.prenom}}</td>
          <td>{{adherent.adresse}}</td>
        </tr>
        <tr class="text-center">
          <th>Nombre de personnes à charge</th>
          <th>Situation</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Pays</th>
        </tr>
        <tr class="text-center">
          <td *ngIf="membreFamilles">{{membreFamilles.length}}</td>
          <td>{{adherent.situation}}</td>
          <td>{{adherent.email}}</td>
          <td>{{adherent.telephone == ''?'//': adherent.telephone}}</td>
          <td>{{adherent.pays.pays}}</td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
    <div *ngIf="membreFamilles && membreFamilles.length != 0">
      <div class="card-header text-center bg-info">
        <strong>Membre de votre famille</strong>
      </div>
      <div class="card-body bg-white">
        <table class="table">
          <th>Nom</th><th>Prénom</th><th>Lien de parenté</th><th class="text-center">Action</th>
          <tr *ngFor="let mf of membreFamilles">
            <td>{{mf.nom}}</td>
            <td>{{mf.prenom}}</td>
            <td>{{mf.lien.lien}}</td>
            <td>
              <a class="btn btn-outline-success" routerLink="/updateMembreFamille/{{mf.id}}">Modifier</a>&nbsp;&nbsp;
              <a class="btn btn-outline-danger" (click)="onDeleteMembreFamille(mf)">Supprimer</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="cotisations && cotisations.length != 0">
      <div class="card-header text-center bg-info">
        <strong>Historique de vos cotisations</strong>
      </div>
      <div class="card-body bg-white">
        <table class="table">
          <th>Montant</th><th>Date</th><th>Période</th><th>Moyen de paiement</th>
          <tr *ngFor="let c of cotisations">
            <td>{{c.montant}}</td>
            <td>{{c.date | date: 'd/M/y'}}</td>
            <td>{{c.periode}}</td>
            <td>{{c.moyenPaiementId}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="sizeList != 0">
      <div class="card-header text-center bg-info">
        <strong>Vos événements</strong>
      </div>
      <div class="card-body bg-white">
        <table class="table" *ngIf="evenements">
          <th>N° Dossier</th><th>Nature de l'événement</th><th>Commentaire</th>
          <tr *ngFor="let e of evenements">
            <td>{{e.id}}</td>
            <td>{{e.natureEvenement.natureEvenement}}</td>
            <td>{{e.commentaire}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>
