<div class="container-fluid">
  <div class="card">
    <div class="card-header">Ajout d'un document</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSaveDocument(f.value)" *ngIf="!documentAdded">
        <div class="form-group" *ngIf="evenement">
          <label></label>
          <input type="hidden" class="form-control" name="adherentId" ngModel="{{evenement.adherentId}}">
        </div>
        <div class="form-group">
          <label>Nature du document</label>
          <select *ngIf="natureDocuments" class="form-control" name="natureDocumentId" ngModel>
            <option value="" disabled>Choisir la nature du document</option>
            <option *ngFor="let nd of natureDocuments" [value]="nd.natureDocument">
              {{nd.natureDocument}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Date</label><br>
          <input type="text" class="form-control" name="date" disabled ngModel="{{date}}">
        </div>
        <div class="form-group" *ngIf="evenement">
          <label></label>
          <input type="hidden" class="form-control" name="evenementId" ngModel="{{evenement.id}}">
        </div>
        <button class="btn btn-outline-success" type="submit">Ajouter</button>
        &nbsp;&nbsp;
        <button *ngIf="evenement" class="btn btn-outline-danger"
                routerLink="/infosEvenement/{{evenement.id}}">Annuler</button>
      </form>
      <div class="form-group" *ngIf="documentAdded">
        <label>Veuillez ajouter le fichier
          <small class="text-muted">(uniquement format PDF accepté)</small>
        </label>
        <br>
        <input type="file" (change)="onSelectedFile($event)">
        <br><br>
        <button *ngIf="selectedFiles" class="btn btn-outline-success"
                (click)="uploadDocument(currentDocument.id)">Ajouter</button>
      </div>
    </div>
  </div>
  <br>
</div>
