<div class="container-fluid">
  <div class="card">
    <div class="card-header">Modifier le coût en date de
      <strong *ngIf="cout">{{cout.date | date: 'dd/MM/yyyy'}}</strong>
      de <strong *ngIf="adherent">{{adherent.genreId == 1?'Mr':'Mme'}} {{adherent.nom}} {{adherent.prenom}}</strong>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSave(f.value)" *ngIf="cout && adherent">
        <input type="hidden" class="form-control" name="id" [(ngModel)]="cout.id">
        <input type="hidden" class="form-control" name="evenementId" [(ngModel)]="cout.evenementId">
        <div class="form-group">
          <label>Nature du coût</label>
          <select class="form-control" name="natureCoutId" id="natureCoutId" [ngModel]="currentNatureCout">
            <option name="natureCoutId" *ngFor="let nc of natureCouts">{{nc.natureCout}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Coût</label>
          <input type="number" class="form-control" name="cout" [(ngModel)]="cout.cout">
        </div>
        <div class="form-group">
          <label>Moyen de paiement</label>
          <select class="form-control" name="moyenPaiementId" id="moyenPaiementId" [ngModel]="currentMoyenPaiement">
            <option name="moyenPaiementId" *ngFor="let mp of moyenPaiements">{{mp.moyenPaiement}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Commentaire</label>
          <input type="text" class="form-control" name="commentaire" [(ngModel)]="cout.commentaire">
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control" name="date" [(ngModel)]="cout.date">
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Valider</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger" routerLink="/infosEvenement/{{cout.evenementId}}">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
