<div class="container-fluid">
  <div class="card">
    <div class="card-header">Modifier informations adhérent</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSave(f.value)" *ngIf="adherent">
          <input type="hidden" class="form-control" name="id" [(ngModel)]="adherent.id">
        <div class="form-group">
          <label>N° Adhérent</label>
          <input type="number" class="form-control" name="currentNumAdherent" disabled [(ngModel)]="adherent.numAdherent">
          <input type="hidden" class="form-control" name="numAdherent" [(ngModel)]="adherent.numAdherent">
        </div>
        <div class="form-group">
          <label>Nom</label>
          <input type="text" class="form-control" name="currentNom" disabled [(ngModel)]="adherent.nom">
          <input type="hidden" class="form-control" name="nom" [(ngModel)]="adherent.nom">
        </div>
        <div class="form-group">
          <label>Prénom</label>
          <input type="text" class="form-control" name="currentPrenom" disabled [(ngModel)]="adherent.prenom">
          <input type="hidden" class="form-control" name="prenom" [(ngModel)]="adherent.prenom">
        </div>
        <div class="form-group">
          <label>Genre</label>
          <input type="hidden" class="form-control" class="form-control" name="genreId" [(ngModel)]="adherent.genreId"><br>
          <input type="text" class="form-control" disabled name="genre" [(ngModel)]="genre">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="adherent.email">
        </div>
        <div class="form-group">
          <label>Adresse</label>
          <input type="text" class="form-control" name="adresse" [(ngModel)]="adherent.adresse">
        </div>
        <div class="form-group">
          <label>Situation</label>
          <input type="text" class="form-control" name="situation" [(ngModel)]="adherent.situation">
        </div>
        <div class="form-group">
          <label>Téléphone</label>
          <input type="text" class="form-control" name="telephone" [(ngModel)]="adherent.telephone">
        </div>
        <div class="form-group">
          <label>Pays</label>
          <select class="form-control" name="paysId" id="paysId" [ngModel]="nomPays">
            <option name="paysId" *ngFor="let p of pays">{{p.pays}}</option>
          </select>
        </div>
        <div class="form-group">
          <label></label>
          <input type="hidden" class="form-control" name="utilisateurId" ngModel="{{adherent.utilisateurId}}">
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Valider</button>
        &nbsp;&nbsp;
        <button *ngIf="jwtService.utilisateur.id == adherent.utilisateurId"
                class="btn btn-outline-danger" routerLink="/monCompte/{{adherent.id}}">Annuler</button>
        <button *ngIf="jwtService.utilisateur.id != adherent.utilisateurId"
                class="btn btn-outline-danger" routerLink="/adherents">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
