<div class="container-fluid" *ngIf="utilisateur">
  <div *ngIf="utilisateur.statut == 'Responsable'">
  <a *ngIf="utilisateur.statut == 'Responsable'"
     class="btn btn-outline-primary mb-3"
     routerLink="/evenement">Retour</a>
  <a *ngIf="utilisateur.statut != 'Responsable'"
     class="btn btn-outline-primary mb-3"
     routerLink="/monCompte/{{utilisateur.id}}">Retour</a>&nbsp;&nbsp;
  <div class="float-right">
  <a *ngIf="evenement" class="btn btn-outline-info mb-3"
     routerLink="/addDocument/{{evenement.id}}">Ajouter un document</a>&nbsp;&nbsp;
  <a *ngIf="evenement" class="btn btn-outline-info mb-3"
     routerLink="/addCout/{{evenement.id}}">Ajouter un coût</a>
  </div>
  <div class="card" *ngIf="adherent">
    <div>
      <div class="card-header text-center">
        <strong>{{evenement.natureEvenement.natureEvenement}} de {{adherent.genreId == 1?'Mr':'Mme'}}
          {{adherent.nom | uppercase}} {{adherent.prenom}}</strong>
      </div>
      <br><br>
      <div *ngIf="couts && couts.length != 0">
      <div class="text-center bg-light">
        <strong>Les coûts</strong>
      </div>
      <div class="card-body bg-white">
        <table class="table table-borderless">
          <th>Nature du coût</th><th>Coût</th><th>Moyen de paiement</th><th>Date</th><th>Commentaire</th><th class="text-center">Action</th>
          <tr *ngFor="let c of couts">
            <td>{{c.natureCout.natureCout}}</td>
            <td>{{c.cout | number : '0.2'}} €</td>
            <td>{{c.moyenPaiement.moyenPaiement}}</td>
            <td>{{c.date | date : 'dd/M/y'}}</td>
            <td>{{c.commentaire}}</td>
            <td>
              <a class="btn btn-outline-success" routerLink="/updateCout/{{c.id}}">Modifier</a>&nbsp;&nbsp;
              <a class="btn btn-outline-danger" (click)="onDeleteCout(c)">Supprimer</a>
            </td>
          </tr>
        </table>
      </div>
      </div>
      <br>
      <div *ngIf="documents && documents.length != 0">
      <div class="text-center bg-light">
        <strong>Les documents</strong>
      </div>
      <div class="card-body bg-white">
        <table class="table table-borderless">
          <th>Nature du document</th><th>Date</th><th>Document</th><th class="text-center">Action</th>
          <tr *ngFor="let d of documents">
            <td>{{d.natureDocument.natureDocument}}</td>
            <td>{{d.date | date : 'dd/M/y'}}</td>
            <td>
              {{d.document}}
            </td>
            <td>
              <a class="btn btn-titre btn-outline-info" (click)="getFile(d.id)">Ouvrir le fichier</a>&nbsp;&nbsp;
              <a class="btn btn-outline-success" routerLink="/updateDocument/{{d.id}}">Modifier</a>&nbsp;&nbsp;
              <a class="btn btn-outline-danger" (click)="onDeleteDocument(d)">Supprimer</a>
            </td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
  </div>
  <div *ngIf="utilisateur.statut != 'Responsable'">
    <h2 class="text-danger">
      Erreur 403 - Accès refusé
    </h2>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br>
  </div>
</div>
