<div class="container-fluid">
  <div class="card">
    <div class="card-header">Création de compte</div>
    <div class="card-body" *ngIf="!jwtService.utilisateur && !userCreated ||
    !userCreated && jwtService.utilisateur &&
    jwtService.utilisateur.statut != 'Adhérent'">
    <form #f="ngForm" [formGroup]="registerForm" (ngSubmit)="onSaveUser(f.value)">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               *ngIf="jwtService.utilisateur && jwtService.utilisateur.statut == 'Responsable'">
            <label>Statut <span class="text-danger"> *</span></label>
            <select type="text" class="form-control" name="statut" ngModel formControlName="statut"
                    [ngClass]="{ 'is-invalid': submitted && r.statut.errors }">
              <option value="" disabled>---- Choisir le statut ----</option>
              <option value="Responsable">Responsable</option>
              <option value="Adhérent">Adhérent</option>
            </select>
            <div *ngIf="submitted && r.statut.errors" class="invalid-feedback">
              <div *ngIf="r.statut.errors.required">Le statut est obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label>Pseudo <span class="text-danger"> *</span></label>
            <input type="text" class="form-control" name="pseudo" placeholder="pseudo" ngModel
                   formControlName="pseudo" [ngClass]="{ 'is-invalid': submitted && r.pseudo.errors }">
            <div *ngIf="submitted && r.pseudo.errors" class="invalid-feedback">
              <div *ngIf="r.pseudo.errors.required">Le pseudo est obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label>Mot de passe <span class="text-danger"> *</span></label>
            <input type="password" class="form-control" name="password" formControlName="password"
                   placeholder="password" ngModel [ngClass]="{ 'is-invalid': submitted && r.password.errors }">
            <div *ngIf="submitted && r.password.errors" class="invalid-feedback">
              <div *ngIf="r.password.errors.required">Le mot de passe est obligatoire</div>
              <div *ngIf="r.password.errors.minlength">Le mot de passe doit contenir au moins 6 caractères</div>
            </div>
          </div>
          <div class="form-group">
            <label>Confirmation <span class="text-danger"> *</span></label>
            <input type="password" formControlName="confirmPassword" placeholder="Confirmation du mot de passe"
                   class="form-control" [ngClass]="{ 'is-invalid': submitted && r.confirmPassword.errors }" />
            <div *ngIf="submitted && r.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="r.confirmPassword.errors.required">La confirmation du mot de passe est obligatoire</div>
              <div *ngIf="r.confirmPassword.errors.mustMatch">
                Les mots de passe ne correspondent pas</div>
            </div>
          </div>
          <div class="form-group" disabled>
            <label></label>
            <input type="hidden" class="form-control" name="actif">
          </div>
          <div *ngIf="!jwtService.utilisateur"
                class="form-group" disabled>
            <label></label>
            <input type="hidden" class="form-control" name="statut">
          </div>
      </div>
      </div>
      <br>
      <button class="btn btn-outline-success" type="submit">Continuer</button>
      &nbsp;&nbsp;
      <button class="btn btn-outline-danger" routerLink="/">Annuler</button>
      <small class="float-right text-danger">
        Tout ce qui est marqué d'une * est obligatoire.
      </small>
    </form>
  </div>
    <div class="card-body" *ngIf="userCreated">
      <form #f="ngForm" [formGroup]="registerForm" (ngSubmit)="onSaveAdherent(f.value)">
        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
          <label>Genre <span class="text-danger"> *</span></label>
          <select type="text" class="form-control" name="genreId" ngModel formControlName="genreId"
                  [ngClass]="{ 'is-invalid': submitted && r.genreId.errors }">
            <option value="" disabled>---- Vous êtes ----</option>
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select>
          <div *ngIf="submitted && r.genreId.errors" class="invalid-feedback">
            <div *ngIf="r.genreId.errors.required">Le genre est obligatoire</div>
          </div>
        </div>
        <div class="form-group">
          <label>Nom <span class="text-danger"> *</span></label>
          <input type="text" class="form-control" name="nom" ngModel formControlName="nom"
                 [ngClass]="{ 'is-invalid': submitted && r.nom.errors }">
          <div *ngIf="submitted && r.nom.errors" class="invalid-feedback">
            <div *ngIf="r.nom.errors.required">Le nom est obligatoire</div>
          </div>
        </div>
        <div class="form-group">
          <label>Prénom <span class="text-danger"> *</span></label>
          <input type="text" class="form-control" name="prenom" ngModel formControlName="prenom"
                 [ngClass]="{ 'is-invalid': submitted && r.prenom.errors }">
          <div *ngIf="submitted && r.prenom.errors" class="invalid-feedback">
            <div *ngIf="r.prenom.errors.required">Le prénom est obligatoire</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email <span class="text-danger"> *</span></label>
          <input type="email" class="form-control" name="email" ngModel formControlName="email"
                 [ngClass]="{ 'is-invalid': submitted && r.email.errors }">
          <div *ngIf="submitted && r.email.errors" class="invalid-feedback">
            <div *ngIf="r.email.errors.required">L' email est obligatoire</div>
            <div *ngIf="r.email.errors.email">L' email n'est pas valide</div>
            <div *ngIf="r.email.errors.comparison">L' email existe déjà</div>
          </div>
        </div>
        <div class="form-group">
          <label>Adresse <span class="text-danger"> *</span></label>
          <input type="text" class="form-control" name="adresse" ngModel formControlName="adresse"
                 [ngClass]="{ 'is-invalid': submitted && r.adresse.errors }">
          <div *ngIf="submitted && r.adresse.errors" class="invalid-feedback">
            <div *ngIf="r.adresse.errors.required">L' adresse est obligatoire</div>
          </div>
        </div>
        </div>
          <div class="col-md-6">
        <div class="form-group">
          <label>Situation <span class="text-danger"> *</span></label>
          <input type="text" class="form-control" name="situation" ngModel formControlName="situation"
                 [ngClass]="{ 'is-invalid': submitted && r.situation.errors }">
          <div *ngIf="submitted && r.situation.errors" class="invalid-feedback">
            <div *ngIf="r.situation.errors.required">La situation est obligatoire</div>
          </div>
        </div>
        <div class="form-group">
          <label>Téléphone</label>
          <input type="tel" Pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}"
                 minlength="10" maxlength="14"
                 placeholder="06 00 00 00 00" class="form-control" name="telephone"
                 ngModel>
        </div>
        <div class="form-group">
          <label>Pays <span class="text-danger"> *</span></label>
          <select class="form-control" name="paysId" formControlName="paysId"
                  ngModel [ngClass]="{ 'is-invalid': submitted && r.paysId.errors }">
            <option value="" disabled>---- Choisir le pays ----</option>
            <option *ngFor="let p of pays" [value]="p.pays">{{p.pays}}</option>
          </select>
          <div *ngIf="submitted && r.paysId.errors" class="invalid-feedback">
            <div *ngIf="r.paysId.errors.required">Le pays est obligatoire</div>
          </div>
        </div>
        </div>
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Ajouter</button>
        <small class="float-right text-danger">
          Tout ce qui est marqué d'une * est obligatoire.
        </small>
      </form>
    </div>
  </div>
  <br>
</div>
