<div class="container-fluid" *ngIf="utilisateur">
  <div class="card" *ngIf="utilisateur.statut == 'Responsable'">
    <div class="card-header">Liste des adhérents</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <label>N° Adhérent </label>&nbsp;
          <input type="text" name="numAdherent" ngModel>&nbsp;
          <label>Nom </label>&nbsp;
          <input type="text" name="nom" ngModel>&nbsp;
          <label>Prénom </label>&nbsp;
          <input type="text" name="prenom" ngModel>&nbsp;
          <button type="submit" class="btn btn-outline-primary"><svg width="1em" height="1em" viewBox="0 0 20 20" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>&nbsp;Chercher</button>
        </div>
      </form>
      <table *ngIf="adherents" class="table">
        <tr>
          <th>N° Adhérent</th><th>Nom</th><th>Prénom</th><th>Adresse email</th><th class="text-center">Action</th>
        </tr>
        <tr *ngFor="let a of this.adherents">
          <td>{{a.numAdherent}}</td>
          <td>{{a.nom | uppercase}}</td>
          <td>{{a.prenom}}</td>
          <td>{{a.email}}</td>
          <td>
            <a class="btn btn-outline-info" routerLink="/infosAdherent/{{a.id}}">Informations</a>&nbsp;&nbsp;
            <a class="btn btn-outline-success" routerLink="/updateAdherent/{{a.id}}">Modifier</a>&nbsp;&nbsp;
            <a class="btn btn-outline-danger" (click)="onDeleteAdherent(a)">Supprimer</a>
          </td>
        </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li class="clickable" [ngClass]="i == currentPage?'nav-link active' : 'nav-link'"
            *ngFor="let p of pages; let i = index">
          <a (click)="onPageAdherent(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="utilisateur.statut != 'Responsable'">
    <h2 class="text-danger">
      Erreur 403 - Accès refusé
    </h2>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br>
  </div>
</div>
