<div class="container-fluid">
  <div class="card">
    <div class="card-header">Ajout d'une cotisation</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSaveCotisation(f.value)">
        <div class="form-group">
          <label>Adhérent </label>
          <input type="text" class="form-control" name="adherentId" [(ngModel)]="chaine"
                 (keyup)="search(chaine)">
          <ol *ngIf="chaine != undefined && chaine != '' && adherentNomAndPrenom != chaine">
            <li *ngFor="let a of searchAdherent"
                class="list-group-item list-group-item-action clickable d-flex" (click)="chaine = a.nom + ' ' + a.prenom">
              {{a.nom}} {{a.prenom}}
            </li>
          </ol>&nbsp;
        </div>
        <div class="form-group">
          <label>Montant</label>
          <input type="number" class="form-control" name="montant" ngModel>
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control" name="date" ngModel>
        </div>
        <div class="form-group">
          <label>Période (Mois)</label>
          <input type="number" class="form-control" name="periode" ngModel>
        </div>
        <div class="form-group">
          <label>Moyen de paiement</label>
          <select class="form-control" name="moyenPaiementId" ngModel>
            <option value="" disabled>Choisir un moyen de paiement</option>
            <option *ngFor="let mp of moyenPaiements" [value]="mp.moyenPaiement">{{mp.moyenPaiement}}</option>
          </select>
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Ajouter</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger" routerLink="/cotisations">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
