<div class="container-fluid">
  <div *ngIf="adherent" class="card">
    <div class="card-header">Ajout d'un membre de la famille</div>
    <div class="card-body" *ngIf="jwtService.utilisateur">
      <form #f="ngForm" (ngSubmit)="onSaveMembreFamille(f.value)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Lien de parenté</label>
              <select type="text" class="form-control" name="lienParenteId" ngModel>
                <option value="" disabled></option>
                <option *ngFor="let lp of lienParentes" [value]="lp.lien">
                  {{lp.lien}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Nom</label>
              <input type="text" class="form-control" name="nom" ngModel>
            </div>
            <div class="form-group">
              <label>Prénom</label>
              <input type="text" class="form-control" name="prenom" ngModel>
            </div>
            <div class="form-group" disabled>
              <label></label>
              <input type="hidden" class="form-control" name="adherentId" ngModel="{{adherent.id}}">
            </div>
          </div>
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Ajouter</button>
        &nbsp;&nbsp;
        <button *ngIf="jwtService.utilisateur.statut == 'Responsable'"
                class="btn btn-outline-danger" routerLink="/infosAdherent/{{adherent.id}}">Annuler
        </button>
        &nbsp;&nbsp;
        <button *ngIf="jwtService.utilisateur.statut != 'Responsable'"
                class="btn btn-outline-danger" routerLink="/monCompte/{{adherent.id}}">Annuler
        </button>
      </form>
    </div>
  </div>
  <br>
</div>
