<div class="container-fluid">
  <div class="card" *ngIf="evenements">
    <div class="card-header" *ngIf="adherents">
      Ajout du coût de l'événement <strong>{{evenements.natureEvenement.natureEvenement | uppercase}}</strong> de
      {{adherents.genreId == 1? 'Mr': 'Mme'}} {{adherents.nom | uppercase}} {{adherents.prenom}}
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSaveCout(f.value)">
        <div class="form-group">
          <label>Naturte du coût</label>
          <select name="natureCoutId" class="form-control" ngModel>
            <option value="" disabled>--- Choisir la nature du coût ---</option>
            <option *ngFor="let nc of natureCouts" [value]="nc.natureCout">
              {{nc.natureCout}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Coût</label>
          <input type="number" class="form-control" name="cout" ngModel>
        </div>
        <div class="form-group">
          <label>Moyen de paiement</label>
          <select class="form-control" name="moyenPaiementId" ngModel>
            <option value="" disabled>Choisir un moyen de paiement</option>
            <option *ngFor="let mp of moyenPaiements" [value]="mp.moyenPaiement">{{mp.moyenPaiement}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control" name="date" ngModel>
        </div>
        <div class="form-group">
          <label>Commentaire</label>
          <input type="text" class="form-control" name="commentaire" ngModel>
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Ajouter</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger" routerLink="/infosEvenement/{{evenements.id}}">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
