<div class="container-fluid" *ngIf="utilisateur">
  <div class="card" *ngIf="utilisateur.statut == 'Responsable'">
    <div class="card-header">Liste des cotisations</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <label>Adhérent </label>&nbsp;
          <input type="text" name="adherentId" [(ngModel)]="chaine"
                 (keyup)="search(chaine)">&nbsp;
          <label>Moyen de Paiement </label>&nbsp;
          <select name="moyenPaiementId" ngModel>
            <option value="0"></option>
            <option *ngFor="let m of moyens" [value]="m.moyenPaiement">
              {{m.moyenPaiement}}
            </option>
          </select>&nbsp;
          <label>Date </label>&nbsp;
          <input type="date" name="date" ngModel>&nbsp;
          <button type="submit" class="btn btn-outline-primary">
            <svg width="1em" height="1em" viewBox="0 0 20 20" class="bi bi-search" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>&nbsp;Chercher
          </button>&nbsp;
          <ul *ngIf="chaine != undefined && chaine != '' && adherentNomAndPrenom != chaine">
            <li *ngFor="let a of searchAdherent"
                class="list-group-item list-group-item-action clickable d-flex"
                (click)="chaine = a.nom + ' ' + a.prenom">
              {{a.nom}} {{a.prenom}}
            </li>
          </ul>&nbsp;
        </div>
      </form>
      <table *ngIf="cotisations" class="table">
        <tr>
          <th>Adhérent</th>
          <th>Moyen de paiement</th>
          <th>Montant</th>
          <th>Période</th>
          <th>Date</th>
          <th class="text-center">Action</th>
        </tr>
        <tr *ngFor="let c of this.cotisations">
          <td>{{c.nomAdherent}}</td>
          <td>{{c.moyenPaiementId}}</td>
          <td>{{c.montant}}</td>
          <td>{{c.periode}}</td>
          <td>{{c.date | date : "dd/MM/yyyy"}}</td>
          <td>
            <a class="btn btn-outline-info"
               routerLink="/infosAdherent/{{c.adherentId}}">Fiche adhérent</a>&nbsp;&nbsp;
            <a class="btn btn-outline-success" routerLink="/updateCotisation/{{c.id}}">Modifier</a>&nbsp;&nbsp;
            <a class="btn btn-outline-danger" (click)="onDeleteCotisation(c)">Supprimer</a>
          </td>
        </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li class="clickable" [ngClass]="i == currentPage?'nav-link active' : 'nav-link'"
            *ngFor="let p of pages; let i = index">
          <a (click)="onPageCotisation(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="utilisateur.statut != 'Responsable'">
    <h2 class="text-danger">
      Erreur 403 - Accès refusé
    </h2>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br>
  </div>
</div>
