<div class="container-fluid">
  <div class="card">
    <div class="card-header">Modification des informations de
      <strong *ngIf="membreFamille">{{membreFamille.prenom}}</strong>
      <br>
      <strong *ngIf="membreFamille">{{membreFamille.lien.lien}}</strong>
      de <strong *ngIf="adherent">{{adherent.genreId == 1?'Mr':'Mme'}} {{adherent.nom}} {{adherent.prenom}}</strong>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSave(f.value)" *ngIf="membreFamille && adherent">
        <input type="hidden" class="form-control" name="id" [(ngModel)]="membreFamille.id">
        <div class="form-group">
          <label></label>
          <input type="hidden" class="form-control" name="adherentId" ngModel="{{adherent.id}}">
        </div>
        <div class="form-group">
          <label>Nom</label>
          <input type="text" class="form-control" name="nom" [(ngModel)]="membreFamille.nom">
        </div>
        <div class="form-group">
          <label>Lien de parenté</label>
          <input type="text" class="form-control" name="prenom" [(ngModel)]="membreFamille.prenom">
        </div>
        <div class="form-group">
          <label>Lien de parenté</label>
          <select class="form-control" name="lienParenteId" id="lienParenteId" [ngModel]="currentLienParente">
            <option name="lienParenteId" *ngFor="let lp of lienParentes">{{lp.lien}}</option>
          </select>
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Valider</button>
        &nbsp;&nbsp;
        <button *ngIf="jwtService.utilisateur.statut == 'Responsable'"
                class="btn btn-outline-danger" routerLink="/infosAdherent/{{adherent.id}}">Annuler
        </button>
        &nbsp;&nbsp;
        <button *ngIf="jwtService.utilisateur.statut != 'Responsable'"
                class="btn btn-outline-danger" routerLink="/monCompte/{{adherent.id}}">Annuler
        </button>
      </form>
    </div>
  </div>
  <br>
</div>
