<div class="container-fluid">
  <div class="card">
    <div class="card-header">Modifier l'événement
      <strong *ngIf="evenement">{{evenement.natureEvenement.natureEvenement}}</strong>
      de <strong *ngIf="adherent">{{adherent.genreId == 1?'Mr':'Mme'}} {{adherent.nom}} {{adherent.prenom}}</strong>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSave(f.value)" *ngIf="evenement && adherent">
        <input type="hidden" class="form-control" name="id" [(ngModel)]="evenement.id">
        <div class="form-group">
          <label></label>
          <input type="hidden" class="form-control" name="adherentId" ngModel="{{adherent.id}}">
        </div>
        <div class="form-group">
          <label>Nature de l'événement</label>
          <select class="form-control" name="natureEvenementId" id="natureEvenementId" [ngModel]="evenement.natureEvenement.natureEvenement">
            <option name="natureEvenementId" *ngFor="let nature of natureEvenements">{{nature.natureEvenement}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Commentaire</label>
          <input type="text" class="form-control" name="commentaire" [(ngModel)]="evenement.commentaire">
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Valider</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger" routerLink="/evenement">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
