<div class="container-fluid">
  <div class="card">
    <div class="card-header">Modification du document
      <strong *ngIf="document">{{document.document}}</strong>
      de <strong *ngIf="adherent">{{adherent.genreId == 1?'Mr':'Mme'}} {{adherent.nom}} {{adherent.prenom}}</strong>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSave(f.value)" *ngIf="document && adherent">
        <input type="hidden" class="form-control" name="id" [(ngModel)]="document.id">
        <input type="hidden" class="form-control" name="document">
        <input type="hidden" class="form-control" name="evenementId" [(ngModel)]="document.evenementId">
        <div class="form-group">
          <label></label>
          <input type="hidden" class="form-control" name="adherentId" ngModel="{{adherent.id}}">
        </div>
        <div class="form-group">
          <label>Nature du document</label>
          <select class="form-control" name="natureDocumentId" id="natureDocumentId" [ngModel]="currentNatureDocument">
            <option name="natureDocumentId" *ngFor="let nd of natureDocuments">{{nd.natureDocument}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Document</label>
          <input type="file" (change)="onSelectedFile($event)">
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control" name="date" [(ngModel)]="document.date">
        </div>
        <br>
        <button class="btn btn-outline-success" type="submit">Valider</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger" routerLink="/infosEvenement/{{document.evenementId}}">Annuler</button>
      </form>
    </div>
  </div>
  <br>
</div>
